.canvas-wrapper {
	position: absolute;
	margin: auto;
}

canvas{
	position: absolute;
	left: 40px;
	margin: auto;
}

.degrees{
	position: absolute;
	top: 45px;
	left: 135px;
	width: 130px;
	text-align: center;
	font-size: 30px;
}

.weather-description{
	position: absolute;
	top: 75px;
	left: 130px;
	width: 130px;
	text-align: center;
	font-size: 30px;
}

.weather-week{
	position: absolute;
	left: 60px;
	top: 230px;
}

.weather-week div{
	display: inline-block;
	border: 1px solid black;
	margin: 4px;
	padding: 4px;
	font-size: 10px;
	text-align: center;
}

#currTemp{
	font-size: 18px;
	text-align: center;
}

div{
	margin: auto;
}

.wrapper{
	margin-top: 40px;
	width: 400px;
	position: relative;
	border: 1px solid black;
	height: 300px;
}

#weather-form{
	text-align: center;
}